
@{
    ViewData["Title"] = "Index";
}


<div class="card text-white bg-success mb-3" style="max-width: 20rem;align-items:center">
    <div class="card-header">Soumission de condidature</div>
    <div class="card-body">
        <h4 class="card-title">Condidature avec succés</h4>
        <p class="card-text">Merci pour nous rejoindre.</p>
    </div>
</div>

